.led-on {
    fill: #47BD10;
}

.led-off {
    fill: #800707;
}

.inside {
    padding-top: .5em;
    padding-left: .5em;
}

.dribbling {
    padding-top: 1.3em;
    font-size: 10px;
}

.shoot {
    font-size: 15px;
}