@import "../../styles.scss";

.info-section {
  position: absolute;
  bottom: .3em;
  right: .3em;
}

.full-body {
  height: 100vh;
}

.unselect {
  pointer-events: none;
}

.title {
  padding-top: 0;
}

.front-title-text {
  font-size: 40px;
}