<div 
(swipeup)="onSwipeUp()" 
(swiperight)="onSwipeRight()"
class="full-body">
  <div class="d-flex justify-content-center title">
    <img class="unselect" src="../../assets/images/logo.svg" alt="logo" style="width: 16em; margin:auto">
  </div>
  <div class="d-flex justify-content-center title">
    <h1 class="title-text front-title-text" style="text-align: center"><b>Hear the game!</b></h1>
  </div>
  <div class="d-flex justify-content-center flex-column animated bounce">
    <img src="../../assets/icons/angle-double-up-solid.svg" alt="scroll-up-to-start" style="height: 4em;">
    <h3 class="title-text" style="margin: auto">SWIPE UP!</h3>
  </div>
</div>

