<div *ngIf="exerciseService.homeStatus && helpService.helpDisplayed" id=main_modal class="unselect">
  <div class="d-flex justify-content-center" style="margin: auto">
    <h3 class="title-text" style="text-align: center"><b class="unselect">Help</b></h3>
  </div>
  <div class="d-flex justify-content-center flex-column animated bounce" style="margin-top: 1.5em;">
    <p class="unselect"  style="margin: auto">Press long time: help.</p>
    <p class="unselect" style="margin: auto">Swipe up: start match/get match time.</p>
    <p class="unselect" style="margin: auto">Swipe down: finish match.</p>
    <p class="unselect" style="margin: auto">Swipe right: stop match time.</p>
    <p class="unselect" style="margin: auto">Swipe left: resume match time.</p>
  </div>
</div>
