<div style="z-index:-1">
    <app-home *ngIf="homeStatus"></app-home>
    <app-exercise *ngIf="exerciseStatus"></app-exercise>
    <app-sensor *ngIf="sensorStatus"></app-sensor>
    <img *ngIf="!sensorStatus" class="unselect" src="../../assets/images/soccer-player.svg" alt="soccer-player" style="max-height: 100em; position:absolute; bottom:0; left:0">
    <img *ngIf="sensorStatus" class="unselect" src="../../assets/images/female-soccer.svg" alt="soccer-female-player" style="max-height: 25em; position: absolute; bottom:3em; left:3em;">
    <app-info class="info-section"></app-info>
</div>

