/* You can add global styles to this file, and also import other style files */
$dark100: #212121;
$dark75: #303030;
$dark50: #424242;
$dark25: #616161;
$dark: #757575;

$white100: #FAFAFA;
$white75: #F5F5F5;
$white50: #EEEEEE;
$white25: #E0E0E0;
$white: #BDBDBD;

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  height: 100vh;
}

app-root {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: block;
  background: $dark100;
}

.title {
  padding-top: 20vh;
}

.front-title-text {
  font-size: 60px;
}

.title-text {
  color: $white;
}

.full-body {
  height: 100vh;
}

/deep/ html.cdk-global-scrollblock body div.cdk-overlay-container div.cdk-global-overlay-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}